@import"bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
    padding:20px 0px 0px 0px;
}

.heardertext{
    font-family:"Iowan Old Style";
    font-size: 84px;
    font-weight: 400;
}
@media (max-width:576px){
    .heardertext{
        font-size: 36px;
        font-weight:400;
    }
}
.div{
    border:1px solid black;
    margin-bottom: 2px;
}
.logo{
    padding-bottom: 10px;
}
@media (max-width: 576px){
    .logo{
        width: 30px;
        height: 40px;
        margin:4px;
    }
}
.searchrow{
    border: 1px solid #3C3030;
    margin:85px auto 85px auto;
    /* width:350px; */
    /* height:61px; */
    padding:0px;
}
@media (max-width: 576px){
    .searchrow{
          margin:60px auto 60px auto;
    }
}
.search{
    padding:0px;
    margin-top:30px;
}
/* .imag{
    margin-top: 15px;
    margin-right:5px;
} */
.form-control{
    height:61px;
    width: 250px;
    padding-left:350px;
    border:2px solid blue;
}
.Gobtn{
    background-color: #E84848;
    width: 62px;
    height: 100%;
    color:white;
}  
.newsheading{
    color:#D02424;
    margin-bottom:10px;
}
.container{
    width:940px;
    margin-bottom: 90px;
    /* border: red 2px solid; */
}
@media (max-width: 576px){
    .container{
        width: 364px;
        margin-bottom: 0px;
    }
}
.gridcol{
    border: 1px solid #3C3030;
    height: 408px;
    margin-bottom:40px ;
}
@media (max-width: 576px) {
    .col{
        height:354px;
        border: 1px solid #3C3030;
        margin-bottom: 48px;
    }
}
.footer{
    border-top:2px black solid;
}
.footercontainer{
    width:auto;
    margin-top: 60px;
    margin-bottom:60px ;
}
@media (max-width: 576px) {
    .footercontainer{
        flex-flow: row wrap;
        width:180px;
        margin-top: 28px;
        margin-bottom:28px ;
    }
}
.footerdiv{
    font-weight: 500;
    font-size: 16px;
    width:auto;
}
.footeridiv2{
    color:#3C3030;
    font-family: "Inria Serif";
    font-size: 16px;
    font-weight: 500;  
    padding-left:2px ;
}
@media (max-width: 576px) {
    .footeridiv2{
        width:180px;
        padding:0px 10px 0px 10px;
    }
}
.footerimg{
    border-radius: 50%;
    background-color: #E84848;
    width: 10px;
    height: 10px;
    margin:2px;
}